#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_biton
#build/bitond::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_biton)

DEB_INSTALL_EXAMPLES_bitond += debian/examples/*
DEB_INSTALL_MANPAGES_bitond += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix bitond
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f biton-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake biton-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_biton
	src/test_biton

# Ensure wrapper is set executable
binary-post-install/bitond:
	chmod +x $(cdbs_curdestdir)usr/bin/bitond
binary-post-install/biton-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/biton-qt
